

<section id="login" class="login">
    <div class="form-valores">
        <form action="">
            <h2></h2>
            <div class="valor" >
                <i class="fa-solid fa-user" ></i>
                <input type="name" required>
                <label for="">Nombre</label>
            </div>
            <div class="valor">
                <i class="fa-regular fa-envelope" ></i>
                <input type="email" required>
                <label for="">Email</label>
            </div>
            <div class="valor">
                <i class="fa-solid fa-lock"></i>
                <input type="contraseña" required>
                <label for="">Contraseña</label>
            </div>
            <div class="forget">
                <label for=""><input type="checkbox">Recordar </label>
                <a href="#"> Olvide mi contraseña</a>
            </div>

            <div class="botonDoble">
                <button type="button" class="apagado">Registrarse</button>
            </div>

            <div class="registrar">
                <p>No tenes cuenta? <a href="#">Registrate</a></p>
            </div>
                
        </form>
    </div>


</section>

